<html>
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <style type="text/css" media="screen">
        body{
            background: #a3a2a2;
            padding: 2%;
            margin-left: -1%;
            margin-right: -1%;
            display: flex;
        }
        .container{
            margin-left: 39%;
            border: 2pt solid black;
            padding: 3%;
            background: white;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="form">
            <form method=POST enctype=multipart/form-data action="{{ url_for('hello') }}">
                Artist Name: <input name="text"> <br />
                <br/>

                Email      : <input style="margin-left:15.5%;" name="textinput"> <br />
                <br/>
                <input type="submit" value="Snotify">
            </form>
        </div>
    </div>

</body>
</html>
